body {
    font-size: 15pt;
    padding:0px;
    margin:0px;
    background: seagreen;
    
}

.One {
  background: springgreen;
  padding: 5px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 0px snow;
}

input{
  width:100px;
  height: 10px;
  border:2px solid none;
  border-radius: 50px;
  background:none;
  
}

p{
 color:snow;
 background: darkslategray;
 
 border:2px solid white;
 border-radius:50px;
 
}
